html {
    --blue: #159ce4;
    --black: #32383c;
  }
  
  .radio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  input[type="radio"] {
    position: absolute;
    width: 18px;
    height: 18px;
    cursor: pointer;
    opacity: 0;
    order: 1;
  }
  
  .radio label {
    padding-left: 8px;
    font-family: sans-serif;
    line-height: 28px;
    color: var(--black);
    cursor: pointer;
    order: 2;
  }
  
  .radio span:before {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: 4px;
    content: "";
    background-color: #fff;
    border: 2px solid #597183;
    border-radius: 100%;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
  }
  
  input[type="radio"]:checked ~ span:before {
    border: 5px solid var(--blue);
  }
  
  input[type="radio"]:hover ~ span:before {
    border-color: var(--blue);
  }
  
  input[type="radio"]:focus ~ span:before {
    outline: none;
    box-shadow: 0 0 0 1000px black;
  }
  