.gallery-main {
  display: grid;
  // justify-content: center;
  // align-items: flex-end;
  margin: 750px 100px;
  padding: 50px;
  margin-bottom: 350px;
  min-height: 350px;
  grid-template-columns: 1fr;

  div {
    margin: 0;
    height: fit-content;
    width: fit-content;
  }
}

.gallery-img-h {
  height: 500px;
  width: 1100px;
}

.gallery-img-v {
  height: 500px;
  width: 1100px;
}

.gallery-img-b {
  height: 500px;
  width: 1100px;
}
