/* THEME BUTTONS */

.sun-moon{

      // border: 2px solid red;
      --rotation: 0;
      /* width: min-content;*/
      margin-top: .25em;
      margin-left: 14.8em;
      padding:0;
      /* pointer-events: none; */
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 4vmin;
      width: min-content;
      transform: rotate(calc(var(--rotation) * 1deg));
    }
      .sun, .moon{
        position: absolute;
        transition: opacity, fill, var(--transition-delay);
      }
    
      .moon{
          left: 0em;
        opacity: 1;
        fill: rgb(86, 3, 107);
      }
    
      .darkmode .moon{
        opacity: 0;
      }
    
      .sun{
        opacity: 0;
      // transform: rotate(180deg);
      }
    
      .darkmode .sun{
        opacity: 1;
        fill: white;
      }

//     /* Extra small devices (phones, 600px and down) */
    //  @media (max-width: 600px) 
    //  {
    //     .sun-moon a
    //     { 
    //         border: 2px solid red;
    //         margin-top: -3.4rem;
    //         margin-left: 5.5em;
    //     }
    // }

 /* Small devices (portrait tablets and large phones, 600px and up) */
//  @media (min-width: 600px) {
//      .sun-moon a
//         { 
//             border: 2px solid red;
//             margin-top:  0;
//             margin-left: 0em;
//         }
//  }

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}