.dark-mode-toggle {
    color: var(--foreground);
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  
  .light-mode-toggle{
    color: var(--foreground);
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }