@import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Playfair+Display:900");

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  //overflow: hidden;
  transition: background-color 0.5s ease;
  --transition-delay: 0.1s;
  background: var(--body-bg);
  color: var(--foreground);
  font-family: var(--ff-body);
  font-size: 18px;
  line-height: 1.6;
}

body.dark {
  transition: background-color 0.5s ease;
}

h1 {
  font-size: 3rem;
  font-family: tahoma;
  font-weight: 100;
}

/* SVG FIRST NAME */

.fname {
  height: 80%;
  width: 80%;
  margin-left: 5rem;
}

/* SVG LAST NAME */

.lname {
  height: 70%;
  width: 70%;
  margin-left: 15rem;
}

/* BACKGROUND ANIMATION */

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  .ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.6;
  }
}

/*PARTICLE JS*/

#particle {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* BACKGROUND PICTURE DESIGN */

.portbg {
  float: right;
  background-size: auto;
  opacity: var(--opaci);
  margin-top: 5rem;
  z-index: -2;
  margin-left: 10rem;
  height: 500px;
  transition: 0.5s ease;
  object-fit: cover;
  grid-area: p;
  transition: all 100ms ease-in-out;
  // transform: translate3d(0px, 0px, 0px) rotate(0.0001deg);
  // transform-style: preserve-3d;
  // backface-visibility: hidden;
  // position: relative;
  // pointer-events: none;
}

@media (max-width: 768px) {
  .portbg {
    height: 380px;
  }
}
.home {
  // margin-top: 4.8%;
  padding: 50px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "g p";
  height: 100vh;
}

// .home img{
//   height: 5rem;
// }

.fixed {
  background: #fff;
  top: 0;
}

/* SECTIONS */

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // transition: all 5s ease;
}

.social {
  display: flex;
  // flex-direction: column;
  margin-left: 32rem;
  margin-top: 1rem;
  margin-bottom: -17rem;
}

.social a {
  color: var(--clr-navtxt);
  text-decoration: none;
  font-size: 1.3rem;
  margin: 10px;
}

.social a:hover {
  color: var(--foreground);
}

section h2 {
  color: var(--foreground);
}

.gridi {
  grid-area: g;
}

.flexi {
  display: flex;
  flex-direction: column;
}

.name {
  margin: 1rem 3rem;
}

.para {
  margin: 1rem 5rem;
}

/* INTRO SECTION */

@import "./intro";

/* SCROLLBAR DESIGN */

body::-webkit-scrollbar {
  width: 0.4rem;

  /* height: 2rem; HEIGHT CAN NOT BE APPLIED AS BROWSER ADJUSTS THE HEIGHT ACCORDING TO THE CONTENT*/
}
body::-webkit-scrollbar-track {
  background: var(--clr-scrl-track);
}
body::-webkit-scrollbar-thumb {
  background: var(--clr-scrl-thumb);
}

/*VARIABLES*/

@import "./variables";

/* MY LOGO ->  WORKING*/

@import "./splogo";

/* THEME STYLES -> WORKING */

@import "./theme";

/* SUN MOON -> WORKING*/

@import "./sunmoon";

/* NAVBAR -> TO BE UPDATED */

@import "./navbar";

/* OTHER STYLES - DISABLED */

@import "./otherstyles";

/* TOOLTIP */

@import "./tooltip";

@import "./profile";

@import "./projects";

@import "./contact";

@import "./gallery";

// .home{
//   background: linear-gradient(to left, #9796f0, #fbc7d4);
// }

/*.profile{
  background: blue;
}*/

// .profile{
//   background: linear-gradient(to right, #ec008c, #fc6767);
// }

// .projects{
//   background: linear-gradient(to right, #1488CC, #2B32B2);
// }

// .gallery{
//   background: linear-gradient(to right, #753a88, #cc2b5e);
// }

// .contact{
//   background: linear-gradient(to right, #ffe259, #ffa751);
// }
